{% extends 'base.html' %}

{% block styles -%}
<link rel="stylesheet" href="{% static 'styles/app.scss' %}">
{% endblock styles -%}

{% block scripts -%}
{% script 'app' %}
{% endblock scripts -%}


{% block headline %}Dana's SUPER SUPER super awesome headline{% endblock headline %}
{% block byline %}By Dana Cassidy{% endblock byline %}
{% block pubdate %}
  <time datetime="2022-03-05" pubdate>Mar. 5, 2022</time>
{% endblock pubdate %}

{% block content %}
<h1> WHAT IS UP PARTY PEOPLE</h1>
<h2>woooooooooooo</h2>
<h3>Let's PA R T Y </h3>
<h4>fwomp</h4>
{% endblock content %}
